@import './catppuccin.css';

/* Waybar */
* {
    font-family: FontAwesome, Helvetica, "Fira Sans Semibold", "DejaVu Sans";
    font-size: 14px;
    border: none;
    border-radius: 0;
}

window#waybar {
    color: @text; 
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Modules */
#clock, #cpu, #custom-logout, #custom-mpv, #memory, #pulseaudio, #temperature, #window, #workspaces {
    background: alpha(@base, 0.7);
    border: 2px solid @mauve;
    border-radius: 40px 25px;
    margin: 0 2px;
    padding: 2px 12px;
}
#waybar.empty #window {
    background: none;
    border: none;
}

/* Workspaces */
#workspaces button {
    color: @text;
    padding: 0 6px;
}
#workspaces button.active {
    box-shadow: inset 0 -2px @text;
}
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px @text;
}

/* Edges */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
